[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler --config=/etc/kubernetes/config/kube-scheduler.yaml --v=2 --feature-gates=EphemeralContainers=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
